bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.WellnessTracker/.idea/encodings.xml
/.idea/.idea.WellnessTracker/.idea/indexLayout.xml
/.idea/.idea.WellnessTracker/.idea/vcs.xml
/Wellness_Tracker.sln.DotSettings.user
/WellnessTracker.sln.DotSettings.user
